node_modules/
.expo/
.expo-shared/
dist/
build/

# Expo

web-build/

# Native build folders

android/app/build/
ios/build/

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files

.env
.env.local

# macOS

.DS_Store

# Windows

Thumbs.db
# generated native folders
/ios
/android

# Large audio files
src/assets/sounds/
